/* Base & Utility Styles */

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Open Sans', Helvetica, sans-serif
}

.wrapper { 
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

h1 { 
    font-family: 'VT323', 'Courier New', Courier, monospace;
    font-size: 3rem;
}

/* Flex Styles */

.flex-container { 
    display: flex;
}

.space-between { 
    justify-content: space-between;
}

/* Game Styles */

.game-container { 
    background: url('../assets/park-background.webp') no-repeat center center;
    height: 70vh;
}